<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>
<body>
    <h3>Edit your comment</h3>
    <form action="/comments/<%= post.id %>?_method=PATCH " method="post">
        <textarea name="comment" id="" cols="30" rows="10"><%= post.comment %></textarea>
        <button>send</button>
    </form>    
</body>
</html>